body{
    background-color: gray;
    color: white;
    text-align: center;
    border: solid 50px;
    border-color: black;
}
h2{
    color:gold;
}
h3{
    color:pink;
}
h5{
    color:gold;
}
h6{
    color: pink;
}
.svg-triangle {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
  .svg-triangle polygon {
    fill: #d8d1b8; 
    stroke: #e8f800; 
    stroke-width: 2;
  }